<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
{#    <noscript><link rel="stylesheet" href="{{ url_for('static',filename='css/noscript.css')}}" /></noscript>#}
    <style>


    </style>
</head>
<body>
<canvas id="canvas"></canvas>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
                            <span class="icon fa-star"></span>
{#							<span><img class="imggood"src="{{ url_for('static',filename='images/favicon.ico')}}"></span>#}
						</div>
						<div class="content">
							<div class="inner">
								<h1>龙哥,永远的神</h1>
                                <p>一等星研究所,进入这互联网宇宙的<a href="#">探索</a>之中。</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">blog</a></li>
								<li><a href="#work">Work</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>


				<!-- Main -->
			</div>

		<!-- BG -->
			<div id="bg"></div>


			<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/browser.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='js/main.js')}}"></script>
            <script src="{{ url_for('static',filename='js/test.js')}}"></script>
</body>
</html>